.MapContainer {
    background-color: rgb(250, 248, 248);
    color:rgb(177, 79, 79);
  }

  .swordAttack {
    position: absolute;
    width: 16px;
    height: 16px;
  
    z-index: 1000;
  
    /* this is for animating the 'steps' */
    animation: swordAttack .35s steps(8);
    animation-direction: reverse;
    background-position-x: 0px;
  }
  
  @keyframes swordAttack {
    100% {
      background-position-x: 320px;
    }
  }